<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSlog Navigation</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main-nav-style.css"> <!-- 고유 CSS 파일 -->
</head>
<body>
<!-- Main Navigation -->
<nav class="main-nav-bar">
    <ul class="main-nav-list">
        <li class="main-nav-item">
            <a href="/"><img src="/images/home.png" alt="Home" class="main-nav-icon"></a>Home
        </li>
        <li class="main-nav-item">
            <a href="/posts_trend"><img src="/images/ree.png" alt="Posts" class="main-nav-icon"></a>Trend
        </li>
        <li class="main-nav-item">
            <a href="/myblog"><img src="/images/blog.png" alt="About" class="main-nav-icon"></a>MyBlog
        </li>
    </ul>
</nav>
</body>
</html>
